@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

/*
font-family: 'Space Mono', monospace;
*/

:root {
  /*  Primary  */
  --strongCyan: hsl(172, 67%, 45%);

  /*  Neutral  */
  --veryDarkCyan: hsl(183, 100%, 15%);
  --darkGrayishCyanOne: hsl(186, 14%, 43%);
  --darkGrayishCyanTwo: hsl(184, 14%, 56%);
  --lightGrayishCyanOne: hsl(185, 41%, 84%);
  --lightGrayishCyanTwo: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 62.5%;
}

body {
  background-color: var(--lightGrayishCyanOne);
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

h1 {
  color: var(--strongCyan);
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 4rem;
}

h3 {
  color: var(--darkGrayishCyanOne); /*Remove after makeing rest*/
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 1.3rem;
}

h4 {
  color: var(--darkGrayishCyanTwo);
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 1.1rem;
}

ul > li {
  display: inline-block;
}

input {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 2.3rem;
  border: none;
  cursor: pointer;
}

/* ID Selectors */
#bill-input {
  background-image: url("images/icon-dollar.svg");
}

#people-input {
  background-image: url("images/icon-person.svg");
}

#bill-input,
#people-input {
  color: var(--darkGrayishCyanOne);
  background-repeat: no-repeat;
  background-position: 1.3rem;
  background-color: var(--lightGrayishCyanTwo);
  text-align: end;
  width: 34.5rem;
  padding: 0.6rem 1.5rem;
  border-radius: 0.6rem;
}

#custom-input {
  color: var(--veryDarkCyan);
  background-color: var(--lightGrayishCyanTwo);
  width: 10.5rem;
  padding: 0.6rem;
  margin: 0 1.2rem 1.2rem 0;
  text-align: center;
  border-radius: 0.6rem;
}

/* Main Layout Styling */

main {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100vh;
}

.container {
  background-color: var(--White);
  display: flex;
  flex-direction: row;
  width: 83rem;
  padding: 3.5rem;
  margin: 0 auto;
  border-radius: 2rem;
}

.input-section {
  padding-right: 2.5rem;
}

.bill-total {
  padding: 1rem 0 2.5rem 0;
}

.bill-total > h3 {
  padding-bottom: 0.8rem;
}

.percent-tip-selection {
  padding-bottom: 2rem;
}

.percent-tip-selection > h3 {
  padding-bottom: 1.4rem;
}

.tip-percent-list {
  max-width: 37rem;
}

.tip-percent-list > li > a {
  color: var(--White);
  background-color: var(--veryDarkCyan);
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 2.3rem;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  width: 10.5rem;
  padding: 0.6rem;
  margin: 0 1.2rem 1.2rem 0;
  border-radius: 0.6rem;
}

.tip-percent-list > li > a:hover {
  color: var(--veryDarkCyan);
  background-color: var(--lightGrayishCyanOne);
}

.total-people-count > h3 {
  padding-bottom: 0.8rem;
}

/**/

.calculation-section {
  background-color: var(--veryDarkCyan);
  padding: 3.5rem;
  border-radius: 1.6rem;
}

.total-tip-section {
  display: flex;
  padding-bottom: 3.5rem;
}

.total-tip-section > h1 {
  padding-left: 9.5rem;
}

.total-amount-text {
  width: 9rem;
}

.total-amount-text > h3 {
  color: var(--White);
  padding-bottom: 0.2rem;
}

.total-tip-per-person {
  display: flex;
}

.total-tip-per-person > h1 {
  padding-left: 9.5rem;
}

.total-tip-text {
  width: 9rem;
}

.total-tip-text > h3 {
  color: var(--White);
  padding-bottom: 0.2rem;
}

.reset-button {
  color: var(--veryDarkCyan);
  background-color: var(--strongCyan);
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 31rem;
  padding: 1rem 0;
  margin-top: 10.5rem;
  border-radius: 0.6rem;
}

.reset-button:hover {
  background-color: var(--lightGrayishCyanOne);
}

@media screen and (max-width: 875px) {
  /* ID Selectors */
  #bill-input,
  #people-input {
    width: 100%;
  }

  #custom-input {
    width: 47%;
    text-align: end;
  }

  /* Main Layout Styling */

  .container {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 3rem 4rem;
    border-radius: 1.7rem 1.7rem 0 0;
  }

  .input-section {
    padding: 0;
  }

  .percent-tip-selection {
    width: 100%;
  }

  .percent-tip-selection > h3 {
    padding: 0;
  }

  .tip-percent-list {
    max-width: 100%;
  }

  .tip-percent-list > li {
    width: 49%;
  }

  .tip-percent-list > li > a {
    width: 100%;
    margin: 1rem 1rem 0 0;
    padding: 0.7rem;
  }

  .calculation-section {
    width: 100%;
    margin: 3rem 0;
  }

  .total-amount-text {
    width: 100%;
  }

  .total-tip-text {
    width: 100%;
  }

  .reset-button {
    max-width: 100%;
    margin-top: 3rem;
  }
}
