@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

/*
font-family: 'Space Mono', monospace;
*/

:root {
  /*  Primary  */
  --strongCyan: hsl(172, 67%, 45%);

  /*  Neutral  */
  --veryDarkCyan: hsl(183, 100%, 15%);
  --darkGrayishCyanOne: hsl(186, 14%, 43%);
  --darkGrayishCyanTwo: hsl(184, 14%, 56%);
  --lightGrayishCyanOne: hsl(185, 41%, 84%);
  --lightGrayishCyanTwo: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 62.5%;
}

body {
  background-color: var(--lightGrayishCyanOne);
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

h3 {
  color: var(--darkGrayishCyanOne); /*Remove after makeing rest*/
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0.9rem 0;
}

h4 {
  color: var(--darkGrayishCyanTwo);
  font-family: "Space Mono", monospace;
  font-weight: 400;
}

li {
  display: inline-block;
}

input {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 2.4rem;
  border: none;
  cursor: pointer;
}

/* ID Selectors */
#bill-input {
  background-image: url("images/icon-dollar.svg");
}

#people-input {
  background-image: url("images/icon-person.svg");
}

#bill-input,
#people-input {
  color: var(--darkGrayishCyanOne);
  background-repeat: no-repeat;
  background-position: 1.3rem;
  background-color: var(--lightGrayishCyanTwo);
  text-align: end;
  width: 35.5rem;
  padding: 0.7rem 2rem;
  border-radius: 0.7rem;
}

#custom-input {
  color: var(--veryDarkCyan);
  background-color: var(--lightGrayishCyanTwo);
  width: 11rem;
  text-align: center;
  padding: 0.7rem 1rem;
  margin-bottom: 1.4rem;
  margin-right: 1.2rem;
  border-radius: 0.5rem;
}

/* Main Layout Styling */
main {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100vh;
}

.container {
  background-color: var(--White);
  width: 105rem;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  border-radius: 1.6rem;
}

.input-section {
  padding: 0 4.5rem;
}

.bill-total {
  padding: 3rem 0;
}

.percent-tip-selection {
  padding-bottom: 2.5rem;
}

.percent-tip-selection > h3 {
  padding-bottom: 1rem;
}

.tip-percent-list {
  max-width: 37rem;
  padding-top: 0.4rem;
}

.tip-percent-list > li > a {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 23px;
  color: var(--White);
  background-color: var(--veryDarkCyan);
  width: 11rem;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0.7rem 1rem;
  margin-bottom: 1.4rem;
  margin-right: 1.2rem;
  border-radius: 0.5rem;
}

.tip-percent-list > li > a:hover {
  background-color: var(--lightGrayishCyanOne);
  color: var(--veryDarkCyan);
}

.total-people-count {
  padding-bottom: 4.5rem;
}

/**/

.calculation-section {
  background-color: var(--veryDarkCyan);
  margin: 4rem 0;
  border-radius: 1.5rem;
}

.reset-button {
  color: var(--veryDarkCyan);
  background-color: hsl(183, 100%, 20%);
  max-width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.reset-button:hover {
  background-color: var(--lightGrayishCyanOne);
}
